.btn-close {
  filter: invert(1);
}
.card:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-in-out;
  transform: translateY(-5px);
}

.skills-box {
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.skills-box:hover {
  box-shadow: 2px 10px 20px rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}
.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: fill;
}




